<body class="text-center landing-page">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand logo">Cambio</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <div class="padding-big"></div>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Fill out the right immigration forms quickly for free.</h1>
        <!-- <div class="padding-small"></div> -->
        <p class="lead">Dealing with USCIS can be nerve-wracking, and hiring professional help is often prohibitively expensive. Cambio wants to change this by guiding you to the right forms, and helping you fill them out completely for free.</p>
        <div class="padding-small"></div>

        <p class="lead">
        	<%= form_for(Email.new) do |f| %>
        		<%= f.text_field :email %>
        		<%= f.submit %>
        	<% end %>
        </p>

        <%= @message %>

        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Sign up to learn more.</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Link to disclaimer here.</p>
        </div>
      </footer>
    </div>