<body class="text-center landing-page">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand logo">Cambio</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <div class="padding-big"></div>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Fill out the right immigration forms quickly for free.</h1>
        <!-- <div class="padding-small"></div> -->
        
<!-- Copy for immigrants -->

        <p class="lead">Dealing with USCIS can be nerve-wracking, and hiring professional help is often prohibitively expensive. Cambio wants to change this by guiding you to the right forms, and helping you fill them out completely for free.</p>

<!-- Copy for immigration lawyers -->
		<!-- <p class="lead">...</p> -->

<!-- Copy for non-profits -->
		<!-- <p class="lead">...</p> -->

        <div class="padding-small"></div>

        <p class="lead">
        	<%= form_for @email do |f| %>
        		<%= f.text_field :email, placeholder: "Enter your email address" %>
        		<p class="lead">
          			<p class="btn btn-lg btn-secondary"><%= f.submit "Sign up for updates!"%></p>
    			</p>
        	<% end %>
        </p>

        <%= @message %>

        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Link to disclaimer here.</p>
        </div>
      </footer>
    </div>